body{
	margin-top: 0px;
	margin-left: 0px;
	padding: 0
}

#feedback {
	position: absolute;
	color:white;
	background:gray;
	text-align: left;
	z-index:2;
	padding: 2px;
	border-radius: 5px;
}

.text {
	position: absolute;
	color:black;
	background:none;
	text-align: left;
	font-size: 20px;
	z-index:1;
}

#Nasm{
	right: 50px;
	top: 5px;
}
